<a href="https://colab.research.google.com/github/LucienCastle/nypd-motor-vehicle-collision/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import polars as pl
import pandas as pd

In [ ]:
ny_df = pl.read_csv('nypd-motor-vehicle-collision.csv')

In [ ]:
ny_df.head()

shape: (5, 29)
┌──────────┬──────────┬──────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ crash_da ┆ crash_ti ┆ borough  ┆ zip_code ┆ … ┆ vehicle_ty ┆ vehicle_ty ┆ vehicle_ty ┆ vehicle_ty │
│ te       ┆ me       ┆ ---      ┆ ---      ┆   ┆ pe_code2   ┆ pe_code_3  ┆ pe_code_4  ┆ pe_code_5  │
│ ---      ┆ ---      ┆ str      ┆ i64      ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ str      ┆ str      ┆          ┆          ┆   ┆ str        ┆ str        ┆ str        ┆ str        │
╞══════════╪══════════╪══════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2021-09- ┆ 2:39     ┆ null     ┆ null     ┆ … ┆ Sedan      ┆ null       ┆ null       ┆ null       │
│ 11T00:00 ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ :00.000  ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ 2022-03- ┆ 11:45    ┆ null     ┆ null     ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 26T00:00 ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ :00.000  ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ 2022-06- ┆ 6:55     ┆ null     ┆ null     ┆ … ┆ Pick-up    ┆ null       ┆ null       ┆ null       │
│ 29T00:00 ┆          ┆          ┆          ┆   ┆ Truck      ┆            ┆            ┆            │
│ :00.000  ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ 2021-09- ┆ 9:35     ┆ BROOKLYN ┆ 11208    ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 11T00:00 ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ :00.000  ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ 2021-12- ┆ 8:13     ┆ BROOKLYN ┆ 11233    ┆ … ┆ null       ┆ null       ┆ null       ┆ null       │
│ 14T00:00 ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
│ :00.000  ┆          ┆          ┆          ┆   ┆            ┆            ┆            ┆            │
└──────────┴──────────┴──────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [ ]:
ny_df.shape

(2000000, 29)

In [ ]:
ny_df.null_count()

shape: (1, 29)
┌──────────┬──────────┬─────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ crash_da ┆ crash_ti ┆ borough ┆ zip_code ┆ … ┆ vehicle_ty ┆ vehicle_ty ┆ vehicle_ty ┆ vehicle_ty │
│ te       ┆ me       ┆ ---     ┆ ---      ┆   ┆ pe_code2   ┆ pe_code_3  ┆ pe_code_4  ┆ pe_code_5  │
│ ---      ┆ ---      ┆ u32     ┆ u32      ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ u32      ┆ u32      ┆         ┆          ┆   ┆ u32        ┆ u32        ┆ u32        ┆ u32        │
╞══════════╪══════════╪═════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0        ┆ 0        ┆ 621866  ┆ 622145   ┆ … ┆ 371029     ┆ 1863513    ┆ 1969418    ┆ 1991740    │
└──────────┴──────────┴─────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [ ]:
ny_df = ny_df.drop([
    'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
    'contributing_factor_vehicle_5', 'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4',
    'vehicle_type_code_5','cross_street_name', 'off_street_name', 'location'
  ])
ny_df.shape

(2000000, 19)

In [ ]:
ny_df.null_count()

shape: (1, 19)
┌──────────┬──────────┬─────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ crash_da ┆ crash_ti ┆ borough ┆ zip_code ┆ … ┆ number_of_ ┆ contributi ┆ collision_ ┆ vehicle_ty │
│ te       ┆ me       ┆ ---     ┆ ---      ┆   ┆ motorist_k ┆ ng_factor_ ┆ id         ┆ pe_code1   │
│ ---      ┆ ---      ┆ u32     ┆ u32      ┆   ┆ illed      ┆ vehicle_1  ┆ ---        ┆ ---        │
│ u32      ┆ u32      ┆         ┆          ┆   ┆ ---        ┆ ---        ┆ u32        ┆ u32        │
│          ┆          ┆         ┆          ┆   ┆ u32        ┆ u32        ┆            ┆            │
╞══════════╪══════════╪═════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0        ┆ 0        ┆ 621866  ┆ 622145   ┆ … ┆ 0          ┆ 6244       ┆ 0          ┆ 12406      │
└──────────┴──────────┴─────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [ ]:
data = ny_df.drop_nulls()
data.shape

(1046910, 19)

In [ ]:
data.head()

shape: (5, 19)
┌──────────┬──────────┬───────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ crash_da ┆ crash_ti ┆ borough   ┆ zip_code ┆ … ┆ number_of_ ┆ contributi ┆ collision_ ┆ vehicle_ty │
│ te       ┆ me       ┆ ---       ┆ ---      ┆   ┆ motorist_k ┆ ng_factor_ ┆ id         ┆ pe_code1   │
│ ---      ┆ ---      ┆ str       ┆ i64      ┆   ┆ illed      ┆ vehicle_1  ┆ ---        ┆ ---        │
│ str      ┆ str      ┆           ┆          ┆   ┆ ---        ┆ ---        ┆ i64        ┆ str        │
│          ┆          ┆           ┆          ┆   ┆ i64        ┆ str        ┆            ┆            │
╞══════════╪══════════╪═══════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2021-12- ┆ 14:58    ┆ MANHATTAN ┆ 10017    ┆ … ┆ 0          ┆ Passing    ┆ 4486519    ┆ Sedan      │
│ 14T00:00 ┆          ┆           ┆          ┆   ┆            ┆ Too        ┆            ┆            │
│ :00.000  ┆          ┆           ┆          ┆   ┆            ┆ Closely    ┆            ┆            │
│ 2021-12- ┆ 16:50    ┆ QUEENS    ┆ 11413    ┆ … ┆ 0          ┆ Turning    ┆ 4487127    ┆ Sedan      │
│ 14T00:00 ┆          ┆           ┆          ┆   ┆            ┆ Improperly ┆            ┆            │
│ :00.000  ┆          ┆           ┆          ┆   ┆            ┆            ┆            ┆            │
│ 2021-12- ┆ 23:10    ┆ QUEENS    ┆ 11434    ┆ … ┆ 0          ┆ Reaction   ┆ 4486635    ┆ Sedan      │
│ 14T00:00 ┆          ┆           ┆          ┆   ┆            ┆ to         ┆            ┆            │
│ :00.000  ┆          ┆           ┆          ┆   ┆            ┆ Uninvolved ┆            ┆            │
│          ┆          ┆           ┆          ┆   ┆            ┆ Vehicle    ┆            ┆            │
│ 2021-12- ┆ 19:43    ┆ BRONX     ┆ 10463    ┆ … ┆ 0          ┆ Unspecifie ┆ 4487040    ┆ Station    │
│ 11T00:00 ┆          ┆           ┆          ┆   ┆            ┆ d          ┆            ┆ Wagon/Spor │
│ :00.000  ┆          ┆           ┆          ┆   ┆            ┆            ┆            ┆ t Utility  │
│          ┆          ┆           ┆          ┆   ┆            ┆            ┆            ┆ Vehi…      │
│ 2021-12- ┆ 6:30     ┆ QUEENS    ┆ 11372    ┆ … ┆ 0          ┆ Unspecifie ┆ 4486967    ┆ Sedan      │
│ 13T00:00 ┆          ┆           ┆          ┆   ┆            ┆ d          ┆            ┆            │
│ :00.000  ┆          ┆           ┆          ┆   ┆            ┆            ┆            ┆            │
└──────────┴──────────┴───────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [ ]:
data = data.with_columns(pl.col("crash_date").str.rstrip("T00:00:00.000").str.strptime(pl.Date))

In [ ]:
data = data.with_columns(pl.col('crash_time').str.strptime(pl.Time, '%R'))

In [ ]:
data = data.to_pandas()

In [ ]:
data.to_csv('nypd-cleaned.csv')